/* h3 {

    color: lightpink;
}
.heading-2{
    color:lightgray;
    
}
.heading-3{
    color:black;
}
.container{
    border: 2px solid black;
    background-color: lightgray;
    width: 500px;
    height: 500px;
    color:black;
    padding: 150px;
    margin-right: 300px;
    

} */
